header {
  display: block;
  justify-content: center;
  background-color: #282627;
  /* tamanho do espaço da header em relação a fonte*/
  font-family: 'Alexandria', sans-serif;
  color: #ffffff;
  width: 100%;
  box-shadow: 0px -10px 100px 5px #000000B2;
}

.header__container {
  padding: 1.7rem 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  width: 100%;

  @media (max-width: 1000px) {
    justify-content: space-between;
    padding: 1.7rem 32px;
  }
}

.header__logo {
  width: 160px;
  cursor: pointer;
}

.header__logo img {
  width: 100%;
  object-fit: cover;
}

.header__central {
  width: 100%;
  max-width: 914px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.header__nav {
  width: 100%;
  background-color: #2A2829;
  box-shadow: inset 0 4px 12px -10px rgb(0, 0, 0);
  padding: 8px 0;

  @media (max-width: 700px) {
    display: none;
  }
}

.header__side__content {
  display: flex;
  align-items: center;
}

.header__tagline {
  color: #D5AD3B;
  font-weight: 700;
  font-size: 0.8rem;
  margin: 2.7rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: #424242;
  border-radius: 25px;
  padding: 0.3rem 1rem;
  max-width: 914px;
  width: 100%;
  height: 49px;
  box-shadow: 0px 0px 20px 0px #00000099 inset;
}

.header__mobile {
  display: none;

  @media (max-width: 1000px) {
    display: flex;
    padding: 0 16px 16px;
  }
}

.header__mobile-btn {
  display: none;

  @media (max-width: 700px) {
    width: 49px;
    height: 49px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.11);
    margin-left: 16px;
    display: flex;
    padding: 6px;
    border: 1px solid #ffffff33;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
      transition: background-color 0.3s ease;
    }
  }
}

.header__mobile-btn img {
  width: 100%;
  object-fit: fill;
}

.header__search-input {
  border: none;
  background: transparent;
  outline: none;
  color: #ffffff;
  font-size: 25px;
  width: 100%;
  padding: 0.5rem;
  margin-left: 4px;
}

.header__search-input::placeholder {
  color: #a0a0a0;
}

.header__search-btn {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__action-btn a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.header__action-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__action-btn a:hover {
  color: #D5AD3B;
  /* muda a cor para amarelo quando passa o mouse */
}

.top-bar {
  background-color: #D5AD3B;
  color: #212121;
  padding: 0.6rem 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.top-bar marquee {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.menu-open {
  display: block !important;
}