<a [routerLink]="['/produto', produto.id]" class="card-link">

  <div class="product-card">

    <img [src]="produto.imagem" [alt]="produto.nome" class="product-image">

    <div class="product-info">
      <h3 class="product-name">{{ produto.nome }}</h3>
      <p class="product-price">{{ produto.valor | currency: 'BRL':'symbol':'1.2-2' }}</p>
    </div>

    <button class="add-to-cart-btn" (click)="adicionarAoCarrinho(produto);">
      <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
    </button>

  </div>
</a>