<!-- Navegação -->
<nav class="nav">
    <div class="nav__container">
        <ul class="nav-list">
            <li class="nav__item nav__item--active"><a href="#" class="nav__link">Ofertas Exclusivas</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Masculino</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Feminino</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Calçados</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Acessórios</a></li>
        </ul>
    </div>
</nav>