.nav {
    background-color: #212121;
    padding: 0.8rem 2.5rem;   /* tamanho da área do nav baseado no tamanho da fonte */
    border-top: 1px solid #333333; /* linha para separar da heade */
    display: flex;
    justify-content: center; /* centralizar */
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* alinhar os itens um ao lado do outro */
    gap: 3rem; /* espaço entre as opçoes do menu */
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Alexandria', sans-serif;
    font-weight: 700;
    font-size: 0.95rem;
    text-transform: uppercase;
    padding: 0.5rem 0;
    position: relative; /* para a linha embaixo da escrita */
    transition: color 0.3s ease;
}

.nav__link:hover { /* efeito para quando passar o mouse em cima */
    color: #D5AD3B; /* muda a cor para o amarelo base do projeto */
}

.nav__item--active .nav__link { /* efeito para deixar o item selecionado amarelo */
    color: #D5AD3B; /* O item ativo já fica com a cor amarela */
}

.nav__item--active .nav__link::after { /* linha amarela do item selecionado */

    content: ''; /* elemento para criar a linha */
    position: absolute;
    bottom: -2px; /* deixar a linha embaixo do texto */
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #D5AD3B;
}

.nav__link::after { /* efeito para aparecer linha embaixo do item ao passar o mouse */
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #D5AD3B;
    transform: scaleX(0); /* tamanho da linha começa com 0 */
    transition: transform 0.3s ease; /* animação */
}

.nav__link:hover::after,
.nav__item--active .nav__link::after {
    transform: scaleX(1); /* deixa a linha do tamanho do item */
}