<!-- Navegação -->
<nav class="nav">
  <div class="nav__container">
    <ul class="nav-list">
      <li class="nav__item nav__item--active"><a href="#" class="nav__link">Lançamentos</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Camisetas</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Jeans</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Jaquetas</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Calças</a></li>
    </ul>
  </div>
</nav>