<nav class="main-nav"> <ul>
    <li>
      <a routerLink="/produtos/lancamentos" routerLinkActive="active-link">Lançamentos</a>
    </li>
    <li>
      <a routerLink="/produtos/camisetas" routerLinkActive="active-link">Camisetas</a>
    </li>
    <li>
      <a routerLink="/produtos/jeans" routerLinkActive="active-link">Jeans</a>
    </li>
    <li>
      <a routerLink="/produtos/jaquetas" routerLinkActive="active-link">Jaquetas</a>
    </li>
    <li>
      <a routerLink="/produtos/calcas" routerLinkActive="active-link">Calças</a>
    </li>
  </ul>
</nav>