/* Titulos */
.textTitles {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
}

.subtitle, .title {
    width: 85%;
    margin: 0 auto;
}

.subtitle {
    margin-top: 25px;
    font-size: 12px;
    color: #8c8c8c;
    margin-bottom: -3px; 
}

.title {
    font-size: 20px; 
    margin-top: 0;   
    margin-bottom: 12px;
}

h3, h1 {
    margin: 0;
}

/* Container da tabela */
.list-box {
    position: relative;
    background: #fffffffd;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 0;  
    width: 95%;
    max-width: 85%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.scroll-table {
    max-height: 550px; 
    overflow-y: auto;  
}

thead {
    position: sticky;
    top: 0;
    border: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 15px;
    text-align: center;
}

th {
    background: #f3f4f6;
    font-weight: 600;
}

td {
    font-size: 14px;
}

/* Botões (inserir, excluir e editar) */
button {
    background: #3498db;
    color: #fff;
    border: none;
    padding: 4px 8px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; 
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 50px; 
    height: 30px; 
}

.insert {
    position: absolute;
    top: -40px;   
    right: 15px; 
    background: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px; 
    border-radius: 8px;
    cursor: pointer;
    width: 20.5%;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 1;
}

.insert:hover {
    background-color: #2083c5;
    transform: scale(1.05);
}

.edit {
    background: #f39c12;
    margin-right: 4px;
}

.edit:hover {
    background-color: #e67e22;
}

.delete {
    background: #e74c3c;
}

.delete:hover {
    background-color: #c0392b;
}

button i {
    margin-right: 5px;
}