<main id="content">
  <!-- Banner principal -->
  <section id="banner">
    <img class="banner-content" src="../../../assets/images/camisa_xpto.png" alt="Coleção Balacobaco">
    <div class="banner-cover banner-content">
    </div>
    <p class="text">PRIMEIRA COMPRA COM 10% DE DESCONTO<br><span>CUPOM: APP10</span></p>
  </section>
  <!-- Produtos em promo -->
  <section class="section-lancamentos" id="lancamentos">
    <h2>ÚLTIMOS LANÇAMENTOS →</h2>
    <div class="grid-lancamentos">
      <app-card-roupa></app-card-roupa>
      <app-card-roupa></app-card-roupa>
      <app-card-roupa></app-card-roupa>
      <app-card-roupa></app-card-roupa>
      <app-card-roupa></app-card-roupa>
    </div>
  </section>
</main>