footer {
  background: #282627;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 50px 0;
  color: #fff;
}

.spacer {
  width: 1px;
  height: 231px;
  background-color: #fff;
  margin: 0 40px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
  text-shadow: 0px 1px 20px black;
}

.contato li {
  display: flex;
  align-items: center;
  justify-content: start;
}

.formas-pagamento {
  display: flex;
  align-items: center;
}

.formas-pagamento img {
  height: 120px;
  margin-right: 10px;
  object-fit: cover;
}

.footer__img {
  width: 400px;
}

.footer__img img {
  width: 100%;
  object-fit: cover;
}

.contato__img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1600px) {
  footer {
    padding: 50px 0 20px 0;
  }

  .footer__img {
    width: 300px;
  }

  footer ul li {
    font-size: 24px;
  }
}

@media (max-width: 1185px) {
  footer {
    padding: 50px 0 10px 0;
  }

  .footer__img {
    width: 200px;
  }

  footer ul li {
    font-size: 16px;
  }

  .formas-pagamento img {
    height: 90px;
  }
}

@media (max-width: 900px) {
  footer {
    flex-direction: column;
    gap: 40px;
    padding: 50px 0 0 0;
  }

  .spacer {
    display: none;
  }

  .footer__img {
    width: 250px;
  }

  footer ul li {
    font-size: 24px;
  }

  .formas-pagamento img {
    height: 105px;
  }
}