<footer>
  <div class="footer__img">
    <img src="../../../assets/images/rodape/logomarca-footer.png" alt="logomarca">
  </div>
  <div class="spacer"></div>
  <!-- Sobre a marca -->
  <section class="about">
    <ul>
      <li>Quem somos nós?</li>
      <li>Camisas</li>
      <li>Calças</li>
      <li>Acessórios</li>
      <li>Moletons</li>
    </ul>
  </section>
  <div class="spacer"></div>
  <!-- Contato e pagamentos -->
  <section class="contato">
    <ul>
      <li>
        <img class="contato__img" src="../../../assets/images/rodape/whatsapp.png" alt="whatsapp">&nbsp;&nbsp;&nbsp;WhatsApp: (11) 95367-3106</li>
      <li>
        <img class="contato__img" src="../../../assets/images/rodape/email.png" alt="email">&nbsp;&nbsp;&nbsp;{{'divcomp@gmail.com'}}</li>
      <li>
        <div class="formas-pagamento">
          <img src="../../../assets/images/rodape/visa.png" alt="visa">
          <img src="../../../assets/images/rodape/mastercard.png" alt="mastercard">
          <img src="../../../assets/images/rodape/pix.png" alt="pix">
        </div>
      </li>
    </ul>
  </section>
</footer>
