<footer>
    <div class="footer-top">
        <!-- Sobre a marca -->
        <section class="about">
            <h4>Sobre Nós</h4>
            <p>Streetwear conceitual, com arte, exclusividade e expressão — identidade em movimento.
            </p>
            <a href="#">Saiba mais</a>
        </section>

        <!-- Contato e institucional -->
        <section class="contato">
            <h4>Contato</h4>
            <ul>
                <li><a href="#">Fale Conosco</a></li>
                <li>Telefone: (11) 95367-3106</li>
                <li>WhatsApp: (11) 95367-3106</li>
                <li>{{'Email: atendimento@streetbusiness.com.br'}}</li>
            </ul>
        </section>
    </div>

    <div class="footer-middle">
        <!-- Políticas -->
        <section class="policies">
            <a href="#">Política de Privacidade</a> |
            <a href="#">Política de Troca e Devolução</a> |
            <a href="#">Termos de Uso</a>
        </section>

        <!-- Redes sociais -->
        <section class="socials">
            <a href="#">Instagram</a> |
            <a href="#">Facebook</a> |
            <a href="#">Twitter</a>
        </section>
    </div>

    <div class="footer-bottom">
        <!-- Pagamentos e segurança -->
        <section class="payments">
            <p>Pague com:</p>
            <!-- ícones (colocar depois com CSS ou img src) -->
            <span>Visa</span>
            <span>Mastercard</span>
            <span>Pix</span>
        </section>

        <!-- Dados institucionais -->
        <section class="company-info">
            <p>Street Business Comércio de Vestuário e Acessórios Ltda – CNPJ: 42.565.191/0001-89</p>
            <p>Av. Eng. Eusébio Stevaux, 823 - Santo Amaro, São Paulo - SP, 04696-000</p>
            <p>© 2025 Todos os direitos reservados.</p>
        </section>
    </div>
</footer>